form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px #cccccc;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 95%;
    margin-bottom: 10px;
    padding: 2px 5px;
    font-family: "Roboto", sans-serif;
    border: 1px solid #cccccc;
    border-radius: 5px;
    line-height: 2;
  }
  
  input[type="submit"] {
    display: inline-block;
    width: auto;
    margin: 0 5px;
    padding: 6px 15px;
  
    color: #ffffff;
  
    background-color: #2c3e50;
    border: none;
    border-radius: 5px;
  }

.email {
    height: 10px;;
}

  .buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }

  .text {
    font-family: Arial, Verdana, sans-serif;
  }

.forgot_password {
    text-align: center;
    margin-bottom: 0px;
    
}

.forgot_password_link {
    text-decoration: none;
    color: black;
}